body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Gill Sans MT';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    
}

/*Login panel*/
#LoginPanel, #RegisterPanel{
    padding:40px;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
}

#LoginPanel input, #RegisterPanel input{
    box-shadow: unset;
}

.data-input {
    width: 100%;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #d5d5d5;
    border-radius: unset;
    color: #9b9b9b;
    font-weight: bold;
    padding:0;
}


#PanelTitle, #PanelSubtitle {
    text-align: center;
    color: #707070;
    font-weight: bold;
}
 #PanelSubtitle {
    color: #707070;
    opacity: 0.5;
}

.control-label {
    color: #707070;
}
.input-label {
    color: #707070;
    font-weight: bold;
}

#ActionButton {
    font-weight: bold;
    width: 60%;
    margin-left: 20%;
    background-color: #9b9b9b;
    color: white;
    padding: 11px;
}

#ActionButton:hover {
    background-color: white;
    color: #9b9b9b;
}

#RedirectActionButton {
    text-align: center;
}

#RedirectActionButton a{    
    font-weight: bold;
    background-color: white;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    padding: 10px 40px 10px 40px;
    color: #9b9b9b;
    
}

#RedirectActionButton a:hover {
    text-decoration: none;
    background-color: #9b9b9b;
    color: white;
}

#ErrorMessage {
    text-align: center;
    color: #b01a68;
    font-weight: bold;
}

/*Projects*/
.single-project {
    border: 2px solid #414141;
    border-radius: 3px;
    padding: 0;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
}

.single-project-header {
    border-bottom: 2px solid #9b9b9b;
    padding: 10px;
    background-color: #464646;
}

.projects-title {
    margin: 0 auto;
    display: inline-flex;
    font-size: 20px;
    font-weight: bold;
    color: #b9b9b9
}

.projects-date {
    text-align: right;
    margin: 0 auto;
    display: inline-flex;
    float: right;
    color: #b9b9b9;
}

.projects-date i{
    margin-right:5px;
}

.single-project-body{
}

.single-project-description{
    margin: 20px 10px 30px 10px;
    border-bottom: 1px solid #d5d5d5;
}

.single-project-body img {
    width: 100%;
    background-color: #9b9b9b;
    margin-bottom: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.project-views {
    margin: 0 10px 0 10px;
    text-align: right;
    color: #9d0366;
    position: absolute;
    top: -25px;
    right: 0px;
    animation-name: show_hide;
    animation-duration: 3s;
    animation-iteration-count:infinite; 
}

@keyframes show_hide {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

.single-project-footer {
    border-top: 2px solid #9b9b9b;
    text-align: center;
    position: relative;
    background-color: #e6e6e6;
}

.single-project-footer a:hover{
    text-decoration: none;
    color: #b01a68;
}

.project-button {
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: rgb(61, 60, 60);
    text-shadow: 2px 2px rgba(255, 255, 255, 0.2);
}